In [1]:
#List - Mutable(We're able to replace the values) 1-D Data Structure
a = []
#Use shift+enter to execute a command in juypter

In [2]:
type(a)

list

In [3]:
a = [9,8,7,10,11,34]

In [4]:
a

[9, 8, 7, 10, 11, 34]

In [5]:
a[5]

34

In [7]:
a[-1] = 100
#If we are able to replace the values then we call it as mutable property

In [8]:
a

[9, 8, 7, 10, 11, 100]

In [9]:
#Tuple is immutable - 1D Data Structure
b = ()

In [10]:
type(b)

tuple

In [11]:
b = (9,8,7,10,11,34)

In [12]:
type(b)

tuple

In [14]:
b[5] =100
#We are unable to replace the values inside the tuple, we call it as immutable

TypeError: 'tuple' object does not support item assignment

In [16]:
#Set is used to pick unique set of value and set is not a variable
c = {1,2,2,4,5,3,2,1,8,9,5,6,7,8,7,6,5,3,4,5,7,8,9,2,3,4,0}

In [17]:
c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
c[0]

TypeError: 'set' object is not subscriptable

In [19]:
type(c)

set

In [20]:
c_list = list(c)

In [21]:
c_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
c_list[0]

0

In [24]:
c_li = [1,2,3,2,4,5,6,7,8,9,10,2,3,4,5,3,4,5,6,7,8,3,2,2,4,6,7,4,2,1,3,4,6,7,10]

In [25]:
c_s = set(c_li)

In [26]:
c_s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
c_lis = list(c_s)

In [28]:
c_lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#Dictionary - 2D Data Structure and we store data in key and a value pair format
d = {'sales':[10,20,30,40,50], 'profit':[1,2,3,4,5], 'shipmode':['sta','sec','first','sec','sta']}

In [31]:
d['sales'][3]

40

In [33]:
d['profit'][-3]

3

In [34]:
mean(d['sales'])

NameError: name 'mean' is not defined

In [36]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.16.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [37]:
import pandas as pd

In [38]:
e = pd.DataFrame(d)

In [39]:
type(e)

pandas.core.frame.DataFrame

In [40]:
e

   sales  profit shipmode
0     10       1      sta
1     20       2      sec
2     30       3    first
3     40       4      sec
4     50       5      sta

In [41]:
e['sales'].mean()

30.0

In [42]:
f = pd.Series(a)

In [43]:
f

0      9
1      8
2      7
3     10
4     11
5    100
dtype: int64